.adminPage-wrapper {
    height: 35vh;
}
.container_link {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 15px 0 20px 0;
}
.card-item-content .card-descriptions {
    width: 100%;
    text-align: center;
}