.footer-infor-container {
    /* background-color: orange; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.footer-infor-item h3 {
    color: #fff;
    margin-bottom: 20px;
}
.footer-infor-item ul li {
    list-style: none;
    color: #999999;
    margin-bottom: 14px;
}
@media screen and (max-width: 600px) {
    .footer-infor-container {
        width: 50%;
    }
    .footer-infor-item ul li {
        font-size: 13px;
    }
    .footer-infor-item {
        text-align: center;
    }
    .footer-infor-item h3 {
        margin-bottom: 18px;
        font-size: 15px;
    }
}