.best-seller-title {
    text-align: center;
    font-size: 2.2rem;
    margin: 20px 0 20px 0;
    font-weight: 800;
}
.col-md-3 h3 {
    margin: 18px 0 8px 0;
    font-size: 20px;
}
.best-seller-list p {
    color: gray;
    margin-bottom: 15px;
}
.best-seller-list img:hover {
    transform: scale(1.1);
    transition: 0.5s;
    cursor: pointer;
}
.img-best-seller {
    height: 230px;
    width: 230px;
    transition: 0.5s;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
@media screen and (max-width: 600px) {
    .best-seller-title {
        margin: 10px 0 10px 0;
    }
    .best-seller-container {
        grid-template-columns: 50% 50%;
        grid-template-rows: auto;
        width: 85%;
        margin-top: 0px;
    }
    .img-best-seller {
        height: 280px;
    }
    .best-seller-list h3 {
        margin: 13px 0 5px 0;
    }   
    .best-seller-list {
        padding: 0;
    }
}