.products-list-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 18px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 8px 8px 25px -4px rgb(187, 183, 183);
    transition: 0.5s;
    cursor: pointer;
    position: relative;
}
.img-products {
    height: 300px;
    width: 100%;
}
.products-list-item h3 {
    margin: 18px 0 8px 0;
    font-size: 21px;
}
.products-list-item p {
    color: #666;
    font-size: 18px;
    margin-bottom: 10px;
}
.products-list-item a {
    width: 80%;
    font-size: 18px;
    color: #fff;
    padding: 5px 0 5px 0;
    border-radius: 5px;
    border: solid 0px white;
    cursor: pointer;
    transition: 0.5s;
    position: absolute;
    bottom: 70px;
    left: 0;
    right: 0;
    margin: 0px auto;
    opacity: 0;
    text-align: center;
}
.products-list-item a span {
    margin-right: 8px;
}
.products-list-item:hover a {
    opacity: 1;
    margin-bottom: 20px;
    cursor: pointer;
    background-color: #ff8e3c;
}

