.benefits-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.benefits-item h4 {
    margin: 20px 0 20px 0;
    font-size: 17px;
}
.benefits-item p {
    font-size: 15px;
    text-align: center;
}
.benefits-item a {
    text-decoration: none;
    color: black;
    margin: 10px 0 10px 0;
    transition: 0.5s;
}
.benefits-item a:hover {
    transition: 0.5s;
    transform: scale(1.1);
}
.benefits-item p strong span i {
    margin-left: 10px;
}