.footer-contact-container {
    /* background-color: pink; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* align-items: center; */
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    text-align: center;
}
.footer-contact-item h3 {
    color: #fff;
    margin-bottom: 20px;
}
.footer-contact-item p {
    color: #999999;
    margin-bottom: 14px;
}
@media screen and (max-width: 600px) {
    .footer-contact-container {
        width: 25%;
    }
    .footer-contact-item h3 {
        font-size: 15px;
        margin-bottom: 18px;
    }
    .footer-contact-item p {
        font-size: 13px;
    }
}