.button-nav button span {
  color: black;
}
.button-nav button {
  padding: 0;
}
.navbar-nav .nav-link {
  font-size: 25px !important;
  margin-right: 10px;
}
.navbar-brand {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}