.navbar {
  font-family: Helvetica, Arial, Helvetica, sans-serif;
  font-weight: 540;
  background: #fff;
  box-sizing: border-box;
  height: 80px;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  /* background: red; */
}

.container {
  /* background: pink; */
  z-index: 1;
  /*  max-width: 1300px;
  margin-right: auto;
  margin-left: auto; */
  position: absolute;
  left: 200px;
}

.navbar-logo {
  color: #001858;
  /* justify-self:center; */
  cursor: pointer;
  text-decoration: none;
  font-size: 3rem;
  display: flex;
  align-items: center;
}

.navbar-icon {
  margin-right: 0.1rem;
}

.nav-menu {
  list-style: none;
  display: inline-block;
  display: -webkit-box;
  padding: 20px;
}

.nav-item {
  /* background: pink; */
  font-size: 1.5rem;
  padding: 30px;
  /* height: 200px; */
  /* border-bottom: 2px solid transparent; */
}

.nav-item:hover {
  background-color: bisque;
}

.nav-links {
  color: black;
  /* display: flex; */
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
}

.fa-bars {
  color: #fff;
}
.sub-nav {
  cursor: pointer;
  display: flex;
  justify-content: center;

  font-size: 1.2rem;
  font-family: Arial, Helvetica, sans-serif;
}
.sub-nav .subnav-links {
  color: black;
  /* display: flex; */
  align-items: center;
  text-decoration: none;
  height: 100%;
}
.sub-nav .search-icon .search-btn {
  text-decoration: none;
  font-size: 20px;
}

.menu-icon {
  display: none;
}

/* CSS for responsive in Phone-size */
@media screen and (max-width: 960px) {
  /* .NavbarItems {
    position: relative;
  } */
  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 10px;
    right: 300px;
    opacity: -1;
    /* opacity: -1; */ /* bất đắc dĩ thì dùng */
    transition: all 0.5s ease;
    /* background: red; */
  }

  .nav-menu.active {
    background: whitesmoke;
    right: 0px;
    opacity: 1;
    transition: all 0.6s ease;
    /* z-index: -1; */
  }

  .nav-links {
    text-align: center;
    padding: 1.5rem;
    width: 100%;
    display: table;
    /* background: orange; */
    transition: all 0.3s ease;
  }

  .nav-links:hover {
    color: #001858;
    /* transform: scale(1.3); */
    /* transition: all 0.3s ease; */
    font-size: 2rem;
  }

  .nav-item:hover {
    border: none;
  }

  .nav-item {
    width: 100%;
  }

  .navbar-logo {
    position: absolute;
    top: 18px;
    left: 0;
    transform: translate(25%, 50%);
    font-size: 2rem;
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 22px;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: #fff;
    font-size: 2rem;
  }
  /*
  .nav-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 120px;
  } */
}
