.logo-footer-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    text-align: center;
}
.logo-footer-container h1 {
    color: #fff;
    margin-bottom: 18px;
}
.logo-footer span {
    margin-right: 25px;
    font-size: 30px;
    color: #fff;
} 
@media screen and (max-width: 600px) {
    .logo-footer-container {
        width: 25%;
    }
    .logo-footer-container h1 {
        font-size: 25px;
    }
    .logo-footer span {
        font-size: 20px;
        margin-right: 15px;
    }
}