.form-control {
    border: none;
    width: 600px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.form-control label input {
    width: 500px;
    height: 45px;
    padding: 10px;
    font-size: 16px;
    background: transparent;
    border: 2px solid #e5e5e5;
    border-radius: 5px;
}
.form-control button {
    height: 45px;
    width: 130px;
    font-size: 16px;
    font-weight: 400;
    margin-left: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #1a1a1a;
    color: #fff;
    border: 2px solid #e5e5e5;
    transition: 0.5s;
}
.form-control button:hover {
    background-color: orange;
    cursor: pointer;
    transition: 0.5s;
}
@media screen and (max-width: 600px) {
    .form-control {
        width: 100%;
    }
    .form-control label input {
        width: 300px;
    }
    .form-control button {
        width: 120px;
    }
}